<ion-header>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-segment scrollable>
      <ion-segment-button>
        <ion-icon name="home"></ion-icon>
        IGTV
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="heart"></ion-icon>
        Sales
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="pin"></ion-icon>
        Shopping
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="star"></ion-icon>
        Entertainment
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="call"></ion-icon>
        Social
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="globe"></ion-icon>
        Web
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="basket"></ion-icon>
        Shop
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>1 of 2</div>
      </ion-col>
      <ion-col>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col col-6>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-4>
        <div>1 of 2</div>
      </ion-col>
      <ion-col>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 2</div>
      </ion-col>
      <ion-col offset-4>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 4</div>
      </ion-col>
      <ion-col>
        <div>2 of 4</div>
      </ion-col>
      <ion-col>
        <div>3 of 4</div>
      </ion-col>
      <ion-col>
        <div>4 of 4</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

